
// https://github.com/sass-mq/sass-mq
$mq-responsive: true;
$mq-breakpoints: (
  mobile:  320px,
  tablet:  768px,
  desktop: 980px,
  wide:    1300px,
  );
$mq-static-breakpoint: desktop;
// $mq-show-breakpoints: (mobile, tablet, desktop, wide);
@import 'mq';

// variables
$max-width: 1280px;
$footer-height: 4em;

$main-colour: #B9121B;
$grey-colour: #BABABA;
$darkgrey-colour: #353535;
// #333333;

$selection-background: #00FFED;
$selection-colour: $darkgrey-colour;

// mixins
@mixin under_color($value) {
  -moz-text-decoration-color: $value; /* Code for Firefox */
  text-decoration-color: $value;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin rotateall($value) {
  -ms-transform: rotate($value); /* IE 9 */
  -webkit-transform: rotate($value); /* Safari */
  transform: rotate($value);
}

@mixin transform($value) {
  -ms-transform: $value;
  -ms-transform-origin: center;
  -webkit-transform: $value;
  -webkit-transform-origin: center;
  transform: $value;
  transform-origin: center;
}

@mixin scale($value) {
  -ms-transform: scale($value);
  -webkit-transform: scale($value);
  transform: scale($value);
  @include origin(center);
}

@mixin origin($value) {
  -ms-transform-origin: $value;
  -webkit-transform-origin: $value;
  transform-origin: $value;
}

/* selection colour */
::-moz-selection { /* Code for Firefox */
  color: $selection-colour;
  background: $selection-background;
}

::selection {
  color: $selection-colour;
  background: $selection-background;
}

#iron-router-progress {
  background-color : $main-colour;
  box-shadow       : 0 0 5px $main-colour;
}

* {
  margin: 0;
}

html, body {
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

.hidden {
  display: none;
  // height: 0 !important;
  // opacity: 0 !important;
}

#wrapper {
  margin-top: 4em;
  padding-bottom: 1em;
  margin-bottom: -$footer-height;
}

#subreddit-search {
  padding: 2em;
  background-color: rgb(220,220,220);

  form {
    label {
      font-size: 1em;
    }
  }
}

#post-bar {

  @include mq($from: tablet) {
    // position: absolute;
    // right: 1em;
    margin-top: 1em;
    padding-left: 1em;
  }

  @include mq($until: tablet) {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@keyframes logo-zoom {
  0%   {@include scale(1); }
  50%  {@include scale(0.2); }
  100%   {@include scale(1); }
}

@keyframes logo-norm {
  0%   {@include scale(1); }
  100%   {@include scale(1); }
}

@-webkit-keyframes logo-zoom {
  0%   {@include scale(1); }
  50%  {@include scale(0.2); }
  100%   {@include scale(1); }
}

@-webkit-keyframes logo-norm {
  0%   {@include scale(1); }
  100%   {@include scale(1); }
}

// #logo-circle {
//     -webkit-animation: logo-norm 1.2s ease-in-out;
//             animation: logo-norm 1.2s ease-in-out;
// }

// #logo-circle:hover {
//   -webkit-animation: logo-zoom 1.2s ease-in-out infinite;
//           animation: logo-zoom 1.2s ease-in-out infinite;
// }

// #logo-circle:hover {
//   transform: scale(0.2);
// }

#logo-link {
  cursor: pointer;
  text-decoration: none;
  margin-right: 1em;

  svg, img {
    width: 6rem;
    height: 6rem;
    margin-bottom: -2rem;
  }

/*  img:hover {
    transform: rotate(90deg);
    transition: all 150.00ms linear;
    } */
  }

  #name-bar {
    margin-bottom: 0;

    @include mq($until: tablet) {
      padding-left: 1em;
    }

    @include mq($from: tablet) {
    // padding-left: 1em;
    // position: fixed;
    // top: 6%;
    // left: 3%;
  }
}

.multied {
  margin-top: 2rem !important;
}

#name-icon {
  @include mq($from: tablet) {
    position: fixed;
  }

  @include mq($until: tablet) {
    margin-bottom: 3rem;
    text-align: center;
  }
}

#name-text {
  @include mq($from: tablet) {
    margin-top: 3rem;
    margin-left: 7rem;
  }
}

.thumbnail {
  width: 100%;
  max-width: $max-width;
  cursor: pointer;
}

.video-col {
  max-width: $max-width;
  padding-top: 0.5em;
}

.soundcloud-iframe {
  width: 100%;
  max-width: $max-width;
  height: 450px;
}

#post-row {
  margin-bottom: 0;
  padding-top: 0.5em;
}

.post-title {
  a {
    font-size: 20pt;
    font-weight: 600;
    color: $darkgrey-colour;
    text-decoration: none;
  }

  a:hover {
    color: $main-colour;
    text-decoration: underline;
  }
}

#post-bar {
  padding-right: 1em;
}

#post-user {
  margin-bottom: 0;

  a {
    font-size: 15pt;
    font-weight: 300;
    color: $darkgrey-colour;
    text-decoration: none;
  }

  a:hover {
    color: $main-colour;
    text-decoration: underline;
  }
}

#info-row {
  margin-bottom: 0;

  div {
    margin-bottom: 0;
  }
}

.info-section {
  margin-top: 0.2em;
  /*padding-left: 1em;;*/
}

#player-controls {
  div {
    bottom: 4px;
  }

  background-color: $main-colour;
  height: $footer-height;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;

  img {
    height: $footer-height;
    padding: 20px 1em;
    z-index: 1000;
    position:relative
  }

  #play-button {
    padding: 13px 1em;
  }

  #pause-button {
    @extend#play-button;
  }

  #play-button-cant {
    @extend#play-button;
  }

  #pause-button-cant {
    @extend#play-button;
  }

  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

#sort {
  bottom: 0;
  right: 12px;
  color: white;
  font-size: 18pt;
  font-weight: 300;
  width: 600px;
  height: 60px;

  p {
    margin-bottom: 0;
  }

  div {
    cursor: pointer;
    position: absolute;
    bottom: 16px;
    right: 0;
  }

  .opt {
    opacity: 0;
    bottom: 20px;
    right: 20px;
  }

  .top {
    bottom: 20px;
    opacity: 0;
    right: 20px;
  }

  #selection {
    width: 55px;
    z-index: 1000;
    font-size: 22pt;
    bottom: 18px;
    right: 20px;
  }

  #t-sort {
    font-size: 12pt;
    margin-left: -3px;
  }
}

#loading-animation {
  width: 100px !important;
  height: 70px !important;
}

.sub-link {
  text-decoration: underline;
  color: $darkgrey-colour;
  font-size: 3rem;
  font-weight: 700;
}

.sub-link:hover {
  color: $main-colour;
}

#song {
  border-bottom: solid 2px $main-colour;
}

.active-song {
  border-left: solid 0.5em $main-colour;
  padding-left: 1em;
}

#song:last-of-type {
  margin-bottom: 5em;
}

.song-line {
  border-bottom: solid 2px $main-colour;
}

.pointer {
  cursor: pointer;
}

#search-button {
  background-color: $darkgrey-colour;
}

#search-wrapper {
  margin-top: 4em;

  @include mq($from: tablet) {

  }
}

#search-form {
  width: 100%;

  button {
    width: 100%;
    height: 40px;
  }

  label {
    font-size: 20pt;
    font-weight: 400;
    margin-bottom: 0.3em;
  }

  input {
    margin-top: 0.4em;
  }
}

#desc-bar {
  margin-top: 2em;
  background-color: $main-colour;
  padding: 3em 6em;
  color: white;
  margin-right: 2em;
}

#music-list {
  margin-bottom: 0;
  font-size: 1.1rem;
}

#title {
  font-size: 35pt;
  font-weight: 700;
  text-decoration: none;

  @include mq($until: tablet) {
    padding-left: 1em;
  }
}

.search-link {
  /*font-weight: 500;*/
  /*text-decoration: underline;*/
}

.search-cat {
  color: white;

  p {
    padding-left: 0.4em;
    font-size: 20pt;
    margin-bottom: 0;
    margin-left: 0;
  }
}

#cats {
  margin-bottom: 0;
  font-size: 1rem;

  ul {
    font-size: 14pt;
    font-weight: 300;
    /*margin-left: 2em;*/
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: $grey-colour;
  }
}

#music-list {
  a {
    text-decoration: underline;
    color: white;
  }

  a:hover {
    color: $grey-colour;
  }
}

#random-button {
  width: 0.9em;
}

#page-error {
  font-size: 2em;
  background-color: $main-colour;
  color: white;
  padding: 2em;
}

#displayMessage {
  border-bottom: solid 1px $darkgrey-colour;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

#displayLink {
  margin-bottom: 0;
  font-size: 0.7em;
  margin-top: -0.5em;

  a {
    color: white;
    font-size: 1em;
  }

  a:hover {
    color: $grey-colour;
  }
}

.multi-link {
  font-size: 1.1em;
  color: $darkgrey-colour;
}

#searchError {
  font-size: 0.8em;
  color: black;
  font-weight: 600;
}

#loading {
  padding: 2em;
  margin-bottom: 0;
  padding-bottom: 0.5em;

  h2 {
    color: $darkgrey-colour;
  }
}

#cat-loading {
  margin-bottom: 3em;
}

#loading-story {
  text-align: center;
  margin-top: 2em;

  #gif-holder {

    #gif {
      margin-bottom: 3em;;
      z-index: 1;
      height: 350px;
      cursor: pointer;

      img {
        max-height: 350px;
      }
    }

    #next-gif {
      margin-bottom: 3em;

      img {
        width: 4em;
        cursor: pointer;
      }
    }

    #text {
      color: white;
      font-weight: 800;
      line-height: 1.1em;
      top: 60px;
      width: 100%;
      z-index: 2;
      font-size: 7rem;
    }
  }

  .active-gif {
    display: block;
  }
}
